n8n-unified-templates/workflows_staging/uncategorized/analyze-feedback-sentiment-routing.json
{
  "name": "analyze-feedback-sentiment-routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-feedback"
      },
      "id": "1",
      "name": "Receive Feedback (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "customer-feedback-submission"
    },
    {
      "parameters": {
        "functionCode": "const feedback = $json.body.feedback;\nreturn [{ json: { feedback } }];"
      },
      "id": "2",
      "name": "Extract Feedback Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "temperature": 0.2,
        "messages": [
          {
            "role": "system",
            "content": "You are an assistant that classifies customer feedback into Positive, Negative, or Neutral sentiment, and routes it to the correct department: Support, Product, or Sales."
          },
          {
            "role": "user",
            "content": "Feedback: {{$json.feedback}}\n\nPlease respond in JSON with fields: sentiment (Positive|Negative|Neutral), department (Support|Product|Sales), summary (short summary)."
          }
        ]
      },
      "id": "3",
      "name": "Analyze Sentiment & Route (GPT-4)",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai_credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst output = JSON.parse($json.choices[0].message.content);\nreturn [{ json: output }];\n"
      },
      "id": "4",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{$json.department === 'Support' ? '#support-team' : $json.department === 'Product' ? '#product-team' : '#sales-team'}}",
        "text": "New Feedback ({{$json.sentiment}}): {{$json.summary}}"
      },
      "id": "5",
      "name": "Send to Slack Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack_credential",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Receive Feedback (Webhook)": {
      "main": [
        [
          {
            "node": "Extract Feedback Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Feedback Text": {
      "main": [
        [
          {
            "node": "Analyze Sentiment & Route (GPT-4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment & Route (GPT-4)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Send to Slack Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}