n8n-unified-templates/workflows_staging/uncategorized/classify-action-items-google-meet-trello-card.json
{
  "name": "Classify action items from Google Meet and send to Trello card",
  "nodes": [
    {
      "id": "trigger-google-meet",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        14900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-action-items-from-google-meet-and-send-to-trello-card",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-google-meet",
      "name": "Fetch data from Google Meet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        14900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-meet",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-classify-action-items",
      "name": "AI: Classify Action Items",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        14900
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: classify action items"
      }
    },
    {
      "id": "send-trello-card",
      "name": "Send to Trello card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        14900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/trello-card",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-14900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        14900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Meet": {
      "main": [
        {
          "node": "AI: Classify Action Items",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Classify Action Items": {
      "main": [
        [
          {
            "node": "AI: Classify Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Trello card": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}