n8n-unified-templates/workflows_staging/uncategorized/notify-staff-patient-record-google-sheets.json
{
  "name": "Notify staff from Patient record and send to Google Sheets",
  "nodes": [
    {
      "id": "trigger-patient-record",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        192100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "notify-staff-from-patient-record-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-patient-record",
      "name": "Fetch data from Patient record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        192100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/patient-record",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        192100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-192100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        192100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Patient record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Patient record": {
      "main": [
        {
          "node": "Send to Google Sheets",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}