n8n-unified-templates/workflows_staging/productivity/generate-summary-asana-task-notion.json
{
  "name": "Generate summary from Asana task and send to Notion",
  "nodes": [
    {
      "id": "trigger-asana-task",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        150900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-summary-from-asana-task-and-send-to-notion",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-asana-task",
      "name": "Fetch data from Asana task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        150900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/asana-task",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-summary",
      "name": "AI: Generate Summary",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        150900
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate summary"
      }
    },
    {
      "id": "send-notion",
      "name": "Send to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        150900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/notion",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-150900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        150900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Asana task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Asana task": {
      "main": [
        {
          "node": "AI: Generate Summary",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Summary": {
      "main": [
        [
          {
            "node": "AI: Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Notion": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}