n8n-unified-templates/workflows_staging/productivity/generate-to-do-list-todoist-task-slack.json
{
  "name": "Generate to-do list from Todoist task and send to Slack",
  "nodes": [
    {
      "id": "trigger-todoist-task",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        182000
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-to-do-list-from-todoist-task-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-todoist-task",
      "name": "Fetch data from Todoist task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        182000
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/todoist-task",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-to-do-list",
      "name": "AI: Generate To-Do List",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        182000
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate to-do list"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        182000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-182000",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        182000
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Todoist task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Todoist task": {
      "main": [
        {
          "node": "AI: Generate To-Do List",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate To-Do List": {
      "main": [
        [
          {
            "node": "AI: Generate To-Do List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}