n8n-unified-templates/workflows_staging/productivity/translate-meeting-transcript-zoom-notion.json
{
  "name": "Translate meeting transcript from Zoom and send to Notion",
  "nodes": [
    {
      "id": "trigger-zoom",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        3400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "translate-meeting-transcript-from-zoom-and-send-to-notion",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-zoom",
      "name": "Fetch data from Zoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        3400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zoom",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-translate-meeting-transcript",
      "name": "AI: Translate Meeting Transcript",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        3400
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: translate meeting transcript"
      }
    },
    {
      "id": "send-notion",
      "name": "Send to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        3400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/notion",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-3400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        3400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zoom": {
      "main": [
        {
          "node": "AI: Translate Meeting Transcript",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Translate Meeting Transcript": {
      "main": [
        [
          {
            "node": "AI: Translate Meeting Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Notion": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}