n8n-organized-workflows/Uncategorized/auto-generate-employee-handbook-acknowledgments.json
{
  "name": "auto-generate-employee-handbook-acknowledgments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handbook-release"
      },
      "id": "ha1",
      "name": "Release Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "const b=$json.body||$json; return [{json:{version:b.version||'v1', url:b.url||'https://drive.google.com/handbook', due:b.due||new Date(Date.now()+14*86400000).toISOString().slice(0,10)}}];"
      },
      "id": "ha2",
      "name": "Normalize Release",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "sheetId": "hr-sheet-id",
        "range": "Employees!A2:C999"
      },
      "id": "ha3",
      "name": "Load Employees (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        540,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const rows=$json.rows||[]; const base=$prevNode['Normalize Release'].json; return rows.map(r=>({json:{email:r[1],name:r[0],dept:r[2]||'',...base}}));"
      },
      "id": "ha4",
      "name": "Build Mail List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "fromEmail": "hr@yourcompany.com",
        "toEmail": "={{$json.email}}",
        "subject": "Action needed: Acknowledge Handbook {{$json.version}} by {{$json.due}}",
        "text": "Hi {{$json.name}},\\nPlease review our latest employee handbook ({{$json.version}}) and acknowledge here: https://yourdomain.com/handbook-ack?email={{encodeURIComponent($json.email)}}&v={{encodeURIComponent($json.version)}} \\nDocument: {{$json.url}}\\nDue: {{$json.due}}\\n\u2014 HR"
      },
      "id": "ha5",
      "name": "Email Employees",
      "type": "n8n-nodes-base.smtp",
      "typeVersion": 1,
      "position": [
        980,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_cred",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "sheetId": "ack-sheet-id",
        "range": "Assignments!A1",
        "fields": [
          "={{$json.email}}",
          "={{$json.version}}",
          "pending",
          "={{$now}}",
          "={{$json.due}}"
        ]
      },
      "id": "ha6",
      "name": "Log Assignment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1200,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handbook-ack"
      },
      "id": "ha7",
      "name": "Ack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        480
      ]
    },
    {
      "parameters": {
        "functionCode": "const b=$json.body||$json; return [{json:{email:(b.email||'').toLowerCase(),version:b.version||'v1',timestamp:new Date().toISOString(),ip:b.ip||''}}];"
      },
      "id": "ha8",
      "name": "Normalize Ack",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        480
      ]
    },
    {
      "parameters": {
        "sheetId": "ack-sheet-id",
        "range": "Acknowledgments!A1",
        "fields": [
          "={{$json.email}}",
          "={{$json.version}}",
          "={{$json.timestamp}}",
          "={{$json.ip}}"
        ]
      },
      "id": "ha9",
      "name": "Append Ack",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        540,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sheetId": "ack-sheet-id",
        "range": "Assignments!A:E",
        "options": {
          "valueRenderMode": "UNFORMATTED_VALUE"
        },
        "updateKey": "email",
        "additionalFields": {
          "valueInputMode": "RAW"
        },
        "dataPropertyAttachments": "={{[{\"email\":$json.email,\"version\":$json.version,\"status\":\"acknowledged\"}]}}"
      },
      "id": "ha10",
      "name": "Mark Assignment Done (pseudo)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "channel": "#people-ops",
        "text": "\ud83d\udcd8 {{$json.email}} acknowledged Handbook {{$json.version}}"
      },
      "id": "ha11",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        980,
        480
      ]
    }
  ],
  "connections": {
    "Release Webhook": {
      "main": [
        [
          {
            "node": "Normalize Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Release": {
      "main": [
        [
          {
            "node": "Load Employees (Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Employees (Sheets)": {
      "main": [
        [
          {
            "node": "Build Mail List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mail List": {
      "main": [
        [
          {
            "node": "Email Employees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Normalize Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ack": {
      "main": [
        [
          {
            "node": "Append Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Ack": {
      "main": [
        [
          {
            "node": "Mark Assignment Done (pseudo)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}