n8n-organized-workflows/Uncategorized/create-deal-web-form-copper.json
{
  "name": "Create deal from Web form and send to Copper",
  "nodes": [
    {
      "id": "trigger-web-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        50700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-deal-from-web-form-and-send-to-copper",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-web-form",
      "name": "Fetch data from Web form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        50700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/web-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-copper",
      "name": "Send to Copper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        50700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/copper",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-50700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        50700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Web form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Web form": {
      "main": [
        {
          "node": "Send to Copper",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Copper": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}