n8n-organized-workflows/Uncategorized/generate-admission-letter-patient-record-lms.json
{
  "name": "Generate admission letter from Patient record and send to LMS",
  "nodes": [
    {
      "id": "trigger-patient-record",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        193200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-admission-letter-from-patient-record-and-send-to-lms",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-patient-record",
      "name": "Fetch data from Patient record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        193200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/patient-record",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-admission-letter",
      "name": "AI: Generate Admission Letter",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        193200
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate admission letter"
      }
    },
    {
      "id": "send-lms",
      "name": "Send to LMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        193200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/lms",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-193200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        193200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Patient record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Patient record": {
      "main": [
        {
          "node": "AI: Generate Admission Letter",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Admission Letter": {
      "main": [
        [
          {
            "node": "AI: Generate Admission Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to LMS": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}