n8n-organized-workflows/Uncategorized/update-ticket-status-zendesk-ticket-knowledge-base.json
{
  "name": "Update ticket status from Zendesk ticket and send to Knowledge base",
  "nodes": [
    {
      "id": "trigger-zendesk-ticket",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        82200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-ticket-status-from-zendesk-ticket-and-send-to-knowledge-base",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-zendesk-ticket",
      "name": "Fetch data from Zendesk ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        82200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zendesk-ticket",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-knowledge-base",
      "name": "Send to Knowledge base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        82200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/knowledge-base",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-82200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        82200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zendesk ticket": {
      "main": [
        {
          "node": "Send to Knowledge base",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Knowledge base": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}