n8n-unified-templates/workflows_staging/marketing/assign-to-salesperson-facebook-ads-freshsales.json
{
  "name": "Assign to salesperson from Facebook Ads and send to Freshsales",
  "nodes": [
    {
      "id": "trigger-facebook-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        34700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-to-salesperson-from-facebook-ads-and-send-to-freshsales",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-facebook-ads",
      "name": "Fetch data from Facebook Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        34700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/facebook-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-freshsales",
      "name": "Send to Freshsales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        34700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/freshsales",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-34700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        34700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Facebook Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Facebook Ads": {
      "main": [
        {
          "node": "Send to Freshsales",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Freshsales": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}