n8n-unified-templates/workflows_staging/marketing/generate-meeting-minutes-microsoft-teams-marketing-team.json
{
  "name": "Generate meeting minutes from Microsoft Teams and send to Marketing team",
  "nodes": [
    {
      "id": "trigger-microsoft-teams",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        22200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-meeting-minutes-from-microsoft-teams-and-send-to-marketing-team",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-microsoft-teams",
      "name": "Fetch data from Microsoft Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        22200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/microsoft-teams",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-meeting-minutes",
      "name": "AI: Generate Meeting Minutes",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        22200
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate meeting minutes"
      }
    },
    {
      "id": "send-marketing-team",
      "name": "Send to Marketing team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        22200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/marketing-team",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-22200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        22200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Microsoft Teams": {
      "main": [
        {
          "node": "AI: Generate Meeting Minutes",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Meeting Minutes": {
      "main": [
        [
          {
            "node": "AI: Generate Meeting Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Marketing team": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}