n8n-unified-templates/workflows_staging/marketing/generate-marketing-copy-with-ai-product-launch-doc-twitter.json
{
  "name": "Generate marketing copy with ai from Product launch doc and send to Twitter",
  "nodes": [
    {
      "id": "trigger-product-launch-doc",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        65400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-marketing-copy-with-ai-from-product-launch-doc-and-send-to-twitter",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-product-launch-doc",
      "name": "Fetch data from Product launch doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        65400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/product-launch-doc",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-marketing-copy-with-ai",
      "name": "AI: Generate Marketing Copy With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        65400
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate marketing copy with AI"
      }
    },
    {
      "id": "send-twitter",
      "name": "Send to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        65400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/twitter",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-65400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        65400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Product launch doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Product launch doc": {
      "main": [
        {
          "node": "AI: Generate Marketing Copy With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Marketing Copy With Ai": {
      "main": [
        [
          {
            "node": "AI: Generate Marketing Copy With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Twitter": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}