n8n-unified-templates/workflows_staging/marketing/score-lead-with-ai-cold-email-replies-salesforce.json
{
  "name": "Score lead with ai from Cold email replies and send to Salesforce",
  "nodes": [
    {
      "id": "trigger-cold-email-replies",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        53800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "score-lead-with-ai-from-cold-email-replies-and-send-to-salesforce",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-cold-email-replies",
      "name": "Fetch data from Cold email replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        53800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/cold-email-replies",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-score-lead-with-ai",
      "name": "AI: Score Lead With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        53800
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: score lead with AI"
      }
    },
    {
      "id": "send-salesforce",
      "name": "Send to Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        53800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/salesforce",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-53800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        53800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Cold email replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Cold email replies": {
      "main": [
        {
          "node": "AI: Score Lead With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Score Lead With Ai": {
      "main": [
        [
          {
            "node": "AI: Score Lead With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Salesforce": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}