n8n-unified-templates/workflows_staging/marketing/update-ledger-quickbooks-transaction-email.json
{
  "name": "Update ledger from QuickBooks transaction and send to Email",
  "nodes": [
    {
      "id": "trigger-quickbooks-transaction",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        132600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-ledger-from-quickbooks-transaction-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-quickbooks-transaction",
      "name": "Fetch data from QuickBooks transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        132600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/quickbooks-transaction",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        132600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-132600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        132600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from QuickBooks transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from QuickBooks transaction": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}