n8n-organized-workflows/Productivity & Office/extract-key-decisions-zoom-trello-card.json
{
  "name": "Extract key decisions from Zoom and send to Trello card",
  "nodes": [
    {
      "id": "trigger-zoom",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        6100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-key-decisions-from-zoom-and-send-to-trello-card",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-zoom",
      "name": "Fetch data from Zoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        6100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zoom",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-extract-key-decisions",
      "name": "AI: Extract Key Decisions",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        6100
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: extract key decisions"
      }
    },
    {
      "id": "send-trello-card",
      "name": "Send to Trello card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/trello-card",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-6100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        6100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zoom": {
      "main": [
        {
          "node": "AI: Extract Key Decisions",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Extract Key Decisions": {
      "main": [
        [
          {
            "node": "AI: Extract Key Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Trello card": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}