n8n-organized-workflows/Productivity & Office/flag-urgent-tasks-todoist-task-google-calendar.json
{
  "name": "Flag urgent tasks from Todoist task and send to Google Calendar",
  "nodes": [
    {
      "id": "trigger-todoist-task",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        182700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "flag-urgent-tasks-from-todoist-task-and-send-to-google-calendar",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-todoist-task",
      "name": "Fetch data from Todoist task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        182700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/todoist-task",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-calendar",
      "name": "Send to Google Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        182700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-calendar",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-182700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        182700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Todoist task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Todoist task": {
      "main": [
        {
          "node": "Send to Google Calendar",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Calendar": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}