n8n-organized-workflows/Productivity & Office/schedule-interview-greenhouse-candidate-google-sheets.json
{
  "name": "Schedule interview from Greenhouse candidate and send to Google Sheets",
  "nodes": [
    {
      "id": "trigger-greenhouse-candidate",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        107800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-interview-from-greenhouse-candidate-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-greenhouse-candidate",
      "name": "Fetch data from Greenhouse candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        107800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/greenhouse-candidate",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        107800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-107800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        107800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Greenhouse candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Greenhouse candidate": {
      "main": [
        {
          "node": "Send to Google Sheets",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}