n8n-organized-workflows/Messaging & Chat/generate-product-description-google-meet-slack.json
{
  "name": "Generate product description from Google Meet and send to Slack",
  "nodes": [
    {
      "id": "trigger-google-meet",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        18500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-product-description-from-google-meet-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-google-meet",
      "name": "Fetch data from Google Meet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        18500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-meet",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-product-description",
      "name": "AI: Generate Product Description",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        18500
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate product description"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        18500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-18500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        18500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Meet": {
      "main": [
        {
          "node": "AI: Generate Product Description",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Product Description": {
      "main": [
        [
          {
            "node": "AI: Generate Product Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}