n8n-organized-workflows/AI & LLMs/analyze-meeting-sentiment-microsoft-teams-email.json
{
  "name": "Analyze meeting sentiment from Microsoft Teams and send to Email",
  "nodes": [
    {
      "id": "trigger-microsoft-teams",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        23900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-meeting-sentiment-from-microsoft-teams-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-microsoft-teams",
      "name": "Fetch data from Microsoft Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        23900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/microsoft-teams",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-analyze-meeting-sentiment",
      "name": "AI: Analyze Meeting Sentiment",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        23900
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: analyze meeting sentiment"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        23900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-23900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        23900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Microsoft Teams": {
      "main": [
        {
          "node": "AI: Analyze Meeting Sentiment",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Analyze Meeting Sentiment": {
      "main": [
        [
          {
            "node": "AI: Analyze Meeting Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}