n8n-organized-workflows/AI & LLMs/classify-resume-with-ai-linkedin-application-slack.json
{
  "name": "Classify resume with ai from LinkedIn application and send to Slack",
  "nodes": [
    {
      "id": "trigger-linkedin-application",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        114600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-resume-with-ai-from-linkedin-application-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-linkedin-application",
      "name": "Fetch data from LinkedIn application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        114600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-application",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-classify-resume-with-ai",
      "name": "AI: Classify Resume With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        114600
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: classify resume with AI"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        114600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-114600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        114600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn application": {
      "main": [
        {
          "node": "AI: Classify Resume With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Classify Resume With Ai": {
      "main": [
        [
          {
            "node": "AI: Classify Resume With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}