n8n-organized-workflows/AI & LLMs/classify-resume-with-ai-resume-email-workday-1.json
{
  "name": "Classify resume with ai from Resume email and send to Workday",
  "nodes": [
    {
      "id": "trigger-resume-email",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        118500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-resume-with-ai-from-resume-email-and-send-to-workday",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-resume-email",
      "name": "Fetch data from Resume email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        118500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/resume-email",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-classify-resume-with-ai",
      "name": "AI: Classify Resume With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        118500
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: classify resume with AI"
      }
    },
    {
      "id": "send-workday",
      "name": "Send to Workday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        118500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/workday",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-118500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        118500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Resume email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Resume email": {
      "main": [
        {
          "node": "AI: Classify Resume With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Classify Resume With Ai": {
      "main": [
        [
          {
            "node": "AI: Classify Resume With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Workday": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}