n8n-organized-workflows/AI & LLMs/create-deal-facebook-ads-gmail.json
{
  "name": "Create deal from Facebook Ads and send to Gmail",
  "nodes": [
    {
      "id": "trigger-facebook-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        34100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-deal-from-facebook-ads-and-send-to-gmail",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-facebook-ads",
      "name": "Fetch data from Facebook Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        34100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/facebook-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-gmail",
      "name": "Send to Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        34100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/gmail",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-34100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        34100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Facebook Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Facebook Ads": {
      "main": [
        {
          "node": "Send to Gmail",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Gmail": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}