n8n-organized-workflows/AI & LLMs/escalate-priority-help-desk-email-slack.json
{
  "name": "Escalate priority from Help desk email and send to Slack",
  "nodes": [
    {
      "id": "trigger-help-desk-email",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        89600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "escalate-priority-from-help-desk-email-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-help-desk-email",
      "name": "Fetch data from Help desk email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        89600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/help-desk-email",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        89600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-89600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        89600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Help desk email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Help desk email": {
      "main": [
        {
          "node": "Send to Slack",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}