n8n-organized-workflows/AI & LLMs/generate-invoice-pdf-xero-invoice-quickbooks.json
{
  "name": "Generate invoice pdf from Xero invoice and send to QuickBooks",
  "nodes": [
    {
      "id": "trigger-xero-invoice",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        134700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-invoice-pdf-from-xero-invoice-and-send-to-quickbooks",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-xero-invoice",
      "name": "Fetch data from Xero invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        134700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/xero-invoice",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-quickbooks",
      "name": "Send to QuickBooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        134700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/quickbooks",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-134700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        134700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Xero invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Xero invoice": {
      "main": [
        {
          "node": "Send to QuickBooks",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to QuickBooks": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}