n8n-organized-workflows/AI & LLMs/generate-marketing-copy-with-ai-content-calendar-facebook.json
{
  "name": "Generate marketing copy with ai from Content calendar and send to Facebook",
  "nodes": [
    {
      "id": "trigger-content-calendar",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        55900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-marketing-copy-with-ai-from-content-calendar-and-send-to-facebook",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-content-calendar",
      "name": "Fetch data from Content calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        55900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/content-calendar",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-marketing-copy-with-ai",
      "name": "AI: Generate Marketing Copy With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        55900
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate marketing copy with AI"
      }
    },
    {
      "id": "send-facebook",
      "name": "Send to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        55900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/facebook",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-55900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        55900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Content calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Content calendar": {
      "main": [
        {
          "node": "AI: Generate Marketing Copy With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Marketing Copy With Ai": {
      "main": [
        [
          {
            "node": "AI: Generate Marketing Copy With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Facebook": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}