n8n-organized-workflows/AI & LLMs/generate-invoice-pdf-expense-report-google-drive.json
{
  "name": "Generate invoice pdf from Expense report and send to Google Drive",
  "nodes": [
    {
      "id": "trigger-expense-report",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        127400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-invoice-pdf-from-expense-report-and-send-to-google-drive",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-expense-report",
      "name": "Fetch data from Expense report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        127400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/expense-report",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-drive",
      "name": "Send to Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        127400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-drive",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-127400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        127400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Expense report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Expense report": {
      "main": [
        {
          "node": "Send to Google Drive",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Drive": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}