n8n-organized-workflows/AI & LLMs/generate-summary-trello-card-email.json
{
  "name": "Generate summary from Trello card and send to Email",
  "nodes": [
    {
      "id": "trigger-trello-card",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        153100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-summary-from-trello-card-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-trello-card",
      "name": "Fetch data from Trello card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        153100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/trello-card",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-summary",
      "name": "AI: Generate Summary",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        153100
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate summary"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        153100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-153100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        153100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Trello card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Trello card": {
      "main": [
        {
          "node": "AI: Generate Summary",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Summary": {
      "main": [
        [
          {
            "node": "AI: Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}