n8n-organized-workflows/AI & LLMs/summarize-email-with-ai-calendar-event-email.json
{
  "name": "Summarize email with ai from Calendar event and send to Email",
  "nodes": [
    {
      "id": "trigger-calendar-event",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        183600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize-email-with-ai-from-calendar-event-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-calendar-event",
      "name": "Fetch data from Calendar event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        183600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/calendar-event",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-summarize-email-with-ai",
      "name": "AI: Summarize Email With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        183600
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: summarize email with AI"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        183600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-183600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        183600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Calendar event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Calendar event": {
      "main": [
        {
          "node": "AI: Summarize Email With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Summarize Email With Ai": {
      "main": [
        [
          {
            "node": "AI: Summarize Email With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}