n8n-organized-workflows/AI & LLMs/sync-product-info-inventory-sheet-email.json
{
  "name": "Sync product info from Inventory sheet and send to Email",
  "nodes": [
    {
      "id": "trigger-inventory-sheet",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        174800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-product-info-from-inventory-sheet-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-inventory-sheet",
      "name": "Fetch data from Inventory sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        174800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/inventory-sheet",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        174800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-174800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        174800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Inventory sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Inventory sheet": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}