n8n-unified-templates/workflows_staging/ai/create-ad-campaign-content-calendar-mailchimp.json
{
  "name": "Create ad campaign from Content calendar and send to Mailchimp",
  "nodes": [
    {
      "id": "trigger-content-calendar",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        59400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-ad-campaign-from-content-calendar-and-send-to-mailchimp",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-content-calendar",
      "name": "Fetch data from Content calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        59400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/content-calendar",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-mailchimp",
      "name": "Send to Mailchimp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        59400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/mailchimp",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-59400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        59400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Content calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Content calendar": {
      "main": [
        {
          "node": "Send to Mailchimp",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Mailchimp": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}