n8n-unified-templates/workflows_staging/ai/score-lead-with-ai-web-form-hubspot.json
{
  "name": "Score lead with ai from Web form and send to HubSpot",
  "nodes": [
    {
      "id": "trigger-web-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        48300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "score-lead-with-ai-from-web-form-and-send-to-hubspot",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-web-form",
      "name": "Fetch data from Web form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        48300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/web-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-score-lead-with-ai",
      "name": "AI: Score Lead With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        48300
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: score lead with AI"
      }
    },
    {
      "id": "send-hubspot",
      "name": "Send to HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        48300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/hubspot",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-48300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        48300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Web form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Web form": {
      "main": [
        {
          "node": "AI: Score Lead With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Score Lead With Ai": {
      "main": [
        [
          {
            "node": "AI: Score Lead With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to HubSpot": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}