n8n-unified-templates/workflows_staging/devops/create-response-draft-github-issue-crm.json
{
  "name": "Create response draft from GitHub issue and send to CRM",
  "nodes": [
    {
      "id": "trigger-github-issue",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        92300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-response-draft-from-github-issue-and-send-to-crm",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-github-issue",
      "name": "Fetch data from GitHub issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        92300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/github-issue",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-create-response-draft",
      "name": "AI: Create Response Draft",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        92300
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: create response draft"
      }
    },
    {
      "id": "send-crm",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        92300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/crm",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-92300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        92300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from GitHub issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from GitHub issue": {
      "main": [
        {
          "node": "AI: Create Response Draft",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Create Response Draft": {
      "main": [
        [
          {
            "node": "AI: Create Response Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to CRM": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}