n8n-organized-workflows/Data & Databases/sync-customer-feedback-with-crm-records.json
{
  "name": "sync-customer-feedback-with-crm-records",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-feedback"
      },
      "id": "fb1",
      "name": "Feedback Webhook (Typeform/SurveyMonkey)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const b=$json.body||$json;return [{json:{email:b.email, score:Number(b.score||0), comments:b.comments||'', source:b.source||'form'}}];"
      },
      "id": "fb2",
      "name": "Normalize Feedback",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "contact",
        "additionalFields": {
          "email": "={{$json.email}}"
        }
      },
      "id": "fb3",
      "name": "Find Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot_api_cred",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "property": "hs_note_body",
                "value": "={{'Feedback ('+$prevNode['Normalize Feedback'].json.source+'): '+$prevNode['Normalize Feedback'].json.comments}}"
              },
              {
                "property": "hs_timestamp",
                "value": "={{$now}}"
              }
            ]
          }
        }
      },
      "id": "fb4",
      "name": "Create Note",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        760,
        260
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot_api_cred",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "updateFields": {
          "email": "={{$prevNode['Normalize Feedback'].json.email}}",
          "propertiesUi": {
            "propertyValues": [
              {
                "property": "nps_latest",
                "value": "={{$prevNode['Normalize Feedback'].json.score}}"
              },
              {
                "property": "last_feedback_at",
                "value": "={{$now}}"
              }
            ]
          }
        }
      },
      "id": "fb5",
      "name": "Update Contact Scores",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        760,
        360
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot_api_cred",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#voice-of-customer",
        "text": "New feedback from {{$prevNode['Normalize Feedback'].json.email}} \u2014 score {{$prevNode['Normalize Feedback'].json.score}}."
      },
      "id": "fb6",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        980,
        300
      ]
    }
  ],
  "connections": {
    "Feedback Webhook (Typeform/SurveyMonkey)": {
      "main": [
        [
          {
            "node": "Normalize Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Feedback": {
      "main": [
        [
          {
            "node": "Find Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Contact Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Scores": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}