n8n-organized-workflows/Data & Databases/update-candidate-database-job-portal-workday.json
{
  "name": "Update candidate database from Job portal and send to Workday",
  "nodes": [
    {
      "id": "trigger-job-portal",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        113100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-candidate-database-from-job-portal-and-send-to-workday",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-job-portal",
      "name": "Fetch data from Job portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        113100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/job-portal",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-workday",
      "name": "Send to Workday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        113100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/workday",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-113100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        113100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Job portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Job portal": {
      "main": [
        {
          "node": "Send to Workday",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Workday": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}