n8n-organized-workflows/Marketing & Social/create-social-media-posts-new-blog-post-instagram.json
{
  "name": "Create social media posts from New blog post and send to Instagram",
  "nodes": [
    {
      "id": "trigger-new-blog-post",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        60100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-social-media-posts-from-new-blog-post-and-send-to-instagram",
        "responseCode": 200,
        "responseMode": "onReceived"
      }
    },
    {
      "id": "fetch-new-blog-post",
      "name": "Fetch data from New blog post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        60100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/new-blog-post",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-instagram",
      "name": "Send to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        60100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/instagram",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-60100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        60100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from New blog post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from New blog post": {
      "main": [
        {
          "node": "Send to Instagram",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Instagram": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}